@media screen and (max-width:800px) {
.registerContent{
    background-color: white;
    height: 750px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
}
.mainForm{
    width: 100%;
    float: left;
}
.registerForm .mainForm input{
    height: 30px;
    width: 100%;
    padding-left: 15px;
    border-radius: 3px;
    border: 1px solid #D7D5D5;
    outline: none
}
.registerForm .mainForm select{
    height: 30px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D7D5D5;
    outline: none
}
.registerContentBG{
    padding: 10px 15px
}
.registerContentForm{
    padding: 10px 10px
}
.registerForm .mainForm .text{
    width: 30%;
    float: left;
}
.registerForm .mainForm .text p{
    font-size: 13px !important
}
.registerForm .mainForm .input{
    width:70%;
    float: left;
}
.linkPage{
    margin-top: 15px;
    margin-bottom: 20px !important
}
.button-res{
    margin-left: 30%;
}
.button-res input{
    text-align: center;
    width: 100% !important;
    background-color: #428bca;
    height: 40px !important;
    border: 0px;
    color: white;
    font-size: 18px
}
}
/*.content-cart .col-xs-12{
  padding: 0px !im
}*/
@media screen and (max-width:640px) {
.content-cart .media-body h4{
    font-size:14px;
}
.content-cart .total strong{
    font-size:16px !important
}
.content-checkout #left select{
  width: 170px !important;
  height: 30px
}
.content-checkout #left #input50 input{
  width: 170px !important;
}
.top-content #right ul{
  float: left;
  padding-left: 0px;
}
}
@media screen and (max-width:480px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
#header-mobie #header-top .header-top3 img{
    height: 45px;
    width: 52px;
    float: right;
}  
#count-cart {
    right: 30px;
}  
#footer-1 img {
    width: 60% !important;
}
.chil2-header-two button {
    width: 26% !important;
}
.content-checkout #left select{
  width: 366px !important;
  height: 30px
}
.content-checkout #left #input50 input{
  width: 366px !important;
}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
.container{
    width: auto !important; 
}	
.slider-nav img{
	height: auto;
	width: 100%;
}
.slick-next,.slick-prev {
    display: none !important;
}
   .img-siderbar ul li img {
    width: 80% !important;
    height: auto;
    float: left;
    padding: 20px;
}
.slider-nav img {
    height: 450px;
     width: 100%; 
}
.sider-barmenu #title .title-menu2 {
    font-size: 12px;
}
#intro-left{
	text-align: center;
}
#footer-1 img {
    width: 50%; 
}
.modal-content {
    width: 95%; /* Could be more or less, depending on screen size */
}
.content-checkout #left select{
  width: 153px !important;
  height: 30px
}
.content-checkout #left #input50 input{
  width: 153px !important;
}
}
@media screen and (min-width: 1200px) {

}